{% autoescape None %}
{% module xsrf_form_html() %}

{% if lform.errors %}
<ul class="errors">
    {% for fieldname, errors in lform.errors.items() %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% end %}
    {% end %}
</ul>
{% end %}
<div class="row mgt20 mgb10">
    <div class="span1"><span>登录</span></div>
    <div class="offset1 span1" id="register-show">
        <span>注册<i class="icon-circle-arrow-right icon-white"></i></span>
    </div>
</div>
<div class="row">
    <div class="span3">
        {{ lform.email(placeholder=lform.email.label.text, class_="span3") }}
    </div>
</div>
<div class="row">
    <div class="span3">
        {{ lform.password(placeholder=lform.password.label.text, class_="span3") }}
    </div>
</div>
<div class="row">
    <div class="span3"><input id="btn-login" type="submit" value="登录" class="btn btn-info"/></div>
</div>
<div class="row">
    <div class="span1">
        {{ lform.remind_me() }}
        <span>记住我</span>
    </div>
    <div class="offset1 span1">
        <a href=""><span>忘记密码</span></a>
    </div>
</div>
