<h3>用户管理</h3>
<ul class="nav nav-tabs nav-stacked">
    <li><a href="/admin/list/user">用户主信息</a></li>
    <li><a href="">用户简历</a></li>
    <li><a href="">用户作品</a></li>
    <li><a href="">用户资源</a></li>
    <li><a href="">用户话题</a></li>
    <li><a href="">用户文章</a></li>
    <li><a href="">用户关注</a></li>
</ul>
<h3>作品管理</h3>
<ul class="nav nav-tabs nav-stacked">
    <li><a href="">查看所有作品</a></li>
    <li><a href="">作品搜索</a></li>
</ul>
<h3>资源管理</h3>
<ul class="nav nav-tabs nav-stacked">
    <li><a href="">查看所有资源</a></li>
    <li><a href="">资源搜索</a></li>
</ul>
<h3>文章管理</h3>
<ul class="nav nav-tabs nav-stacked">
    <li><a href="">查看所有文章</a></li>
    <li><a href="">文章搜索</a></li>
</ul>
<h3>话题管理</h3>
<ul class="nav nav-tabs nav-stacked">
    <li><a href="">话题分类</a></li>
    <li><a href="">话题排名</a></li>
    <li><a href="">话题明细</a></li>
</ul>
